<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <%= title %>
      </h1>
    </header>
    <main class="main">
      <div class="thnks">
        <h3>
          <%= thnks %>
        </h3>
      </div>
      <hr color="#A9F5F2">
      <h2 style="margin-left: 35px">Additional services</h2>
      <div class="optionCar">
        <select name="select">
          <%for(var i=0;i<array.length;i++){%>
            <option value="">
              <%= array[i] %>
            </option>
            <%}%>
        </select>
        <div class="arrayNew">
          <select name="select">
            <%for(var i=0; i<arrayNew.length; i++){%>
              <option value="">
                <%= arrayNew[i] %>
              </option>
              <%}%>
          </select>
        </div>
      </div>
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25091.1845644694!2d22.28247539701474!3d48.621597173337335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473919b944b6e3d9%3A0xda6ae0130042a3c!2z0KPQttCz0L7RgNC-0LQsINCX0LDQutCw0YDQv9Cw0YLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1sru!2sua!4v1628973519422!5m2!1sru!2sua"
          width="400" height="250" style="border:0;" loading="lazy"></iframe>
      </div>
    </main>
    <%-include('footer.ejs')%>
  </div>

</body>


</html>